<div class="goals_form_container">
    <div class="goals_form_title">
        <span>Goal</span>
    </div>
    <form class="goals_form" action="/goals" method="POST">
        <label for="Current">Current 
            <input type="number" name="current" value="{{data.current}}" min="0"/>
        </label>
        <label for="Current">Yearly Goal 
            <input type="number" name="goal" value="{{data.goal}}" min="0"/>
        </label>
        <button type="submit" class="goals_form_saveButton">Save</button>
    </form>
    {{!-- {{#if error}}
        <div class="error-message">{{error}}</div>
        {{else}}
        <div class="success-message">{{message}}</div>
    {{/if}} --}}
    <div class="message {{#if message}} success_message {{else}} error_message {{/if}}">{{message}}{{error}}</div>
</div>