<fieldset class="entry_body_group">
    <legend align="center">{{group}}</legend>
    <label for="title_en">{{titleLabel}}
        <input name="{{titleName}}" value="{{title}}" type="text"/>
    </label>
    <label for="sub-title-en">{{subTitleLabel}}
        <input name="{{subTitleName}}" value="{{subTitle}}" type="text"/>
    </label>
</fieldset>
