<fieldset class="entry_body_group">
    <legend align="center">{{group}}</legend>
    <label >{{titleLabel}}
        <input name="{{titleName}}" value="{{title}}" type="text"/>
    </label>
    <label>{{subTitleLabel}}
        <input name="{{subTitleName}}" value="{{subTitle}}" type="text"/>
    </label>
</fieldset>
