<!--<script src="/scripts/redirectionLinkEntry.js" defer></script>-->
<!--<script src="/scripts/entries.js" defer></script>-->
<!--<link rel="stylesheet" href="/css/entries.css">-->
<!--<link rel="stylesheet" href="/css/redirectionLinkEntry.css">-->


<div class="entry">
    {{#if headerMode}}
        {{>entryHeader
                title=title
                headerClass=headerClass

                showButton3=true
                button3Class="entry_button-green"
                onButton3Click="edit(this);expand(this)"
                button3Label="Add"

                showButton4=true
                button4Class="entry_button-green hidden"
                onButton4Click="submitForm(this);"
                button4Label="Save"


                showButton5= true
                button5Class="entry_button-orange hidden"
                onButton5Click="edit(this); expand(this); cancelRedirection(this); loadNewImgIcon();"
                button5Label="Cancel"
        }}
    {{else}}
        {{>entryHeader
                title=title.en
                onHeaderClick="expand(this)"


                showButton1= reorderable
                button1Class="entry_button-orange entry-moveUp"
                onButton1Click=(strConcat "swap('" reorderable_Route "','" id "','"  (lookup (lookup reorderable_list (prevIndex @index)) "id")  "')" )


                showButton2= reorderable
                button2Class="entry_button-orange entry-moveDown"
                onButton2Click=(strConcat "swap('" reorderable_Route "','" id "','"  (lookup (lookup reorderable_list (nextIndex reorderable_list @index)) "id") "')" )


                showButton3=true
                button3Class="entry_button-green"
                onButton3Click="edit(this)"
                button3Label="Edit"

                showButton4=true
                button4Class="entry_button-green hidden"
                onButton4Click="submitForm(this)"
                button4Label="Save"

                showButton5=true
                button5Class="entry_button-red hidden"
                onButton5Click=(strConcat "postReq('" deleteRoute "')")
                button5Label="Delete"

                showButton6=true
                button6Class="entry_button-orange hidden"
                onButton6Click="cancelRedirection(this); edit(this);"
                button6Label="Cancel"
        }}
    {{/if}}


    <form method="post" action="{{#if headerMode}}/{{routeName}}{{else}}/{{routeName}}/{{id}}{{/if}}"
          class="entry_body {{#if showBody}}{{else}}hidden{{/if}} notClickable">

        <div class="entry_body_group-ver">


            <fieldset class="entry_urlContainer">
                <legend align="center">redirection link</legend>
                <input name="redirectionLink" value="{{redirectionLink}}" type="url" required/>
            </fieldset>


            <fieldset class="entry_uploadImgContainer">
                <legend align="center">icon</legend>
                <input type="file" class="hidden" accept="image/*"/>
                <input name="src" value="{{#if headerMode}}{{defaultIconRoute}}{{else}}{{src}}{{/if}}" type="text"
                       class="hidden"/>
                <div style="background-image: url('{{#if headerMode}}{{defaultIconRoute}}{{else}}{{src}}{{/if}}')"
                     class="largeImg" alt="home menu icon" onclick="uploadImg_click(this)">
                    <img src="/img/icon-add.svg" alt="add button" class="smallImg" onclick="uploadImg_click(this)">
            </fieldset>

        </div>



        {{>fieldset
                group="hebrew"

                title=title.he
                titleName="title_he"
                titleLabel="title"

                hideSub=true

        }}
        {{>fieldset
                group="English"
                title=title.en
                titleName="title_en"
                titleLabel="title"

                hideSub=true
        }}
        {{>fieldset
                group="Arabic"

                title=title.ar
                titleName="title_ar"
                titleLabel="title"

                hideSub=true
        }}

        <input type="submit" class="hidden">
    </form>

</div>

{{#if headerMode}}
    <script defer type="application/javascript">

        function loadNewImgIcon() {
            const textElement = document.querySelector("[name='src']")
            fetch("{{defaultIconRoute}}").then(res => res.blob()).then(blob => new Promise((resolve, reject) => {
                const reader = new FileReader()
                reader.onloadend = () => resolve(reader.result)
                reader.onerror = reject
                reader.readAsDataURL(blob)
            })).then(text => {

                textElement.value = text
            })

        }

        loadNewImgIcon();


    </script>
{{/if}}